<section class="about" id="about">
    <div class="container">
        <h2 class="about__title">About me</h2>
        <ul class="about__list list">
            <li class="about__item">Hi, I'm Anastasiia – front-end developer from Kyiv.
                I'm interested in Web-programming and everything connected with it.</li>
            <li class="about__item">I'm studying at
                courses "GoIT" in IT-Academy.</li>
            <li class="about__item">Ready to implement excellent projects with wonderful people.</li>
        </ul>
    </div>
    

</section>