<section class="footer " id="contacts">
    <div class="container"> 
        <h2 class="footer__title">Contacts</h2>
        <p class="footer__text">Want to know more or just chat?<br>You are welcome!</p>
        <ul class="footer__list-numers list">
            <li class="footer__item-numers">
                <a class="footer__link-tel" href="tel: +380972695677">+380972695677 </a>
            </li>
            <li class="footer__item-numers">
                <a class="footer__link-tel" href="tel:+48791086225">+48791086225</a>
            </li >
            <li class="footer__item-numers">
                <a class="footer__link-tel" 
                href="mailto:anastasiaborodaj22@gmail.com">anastasiaborodaj22@gmail.com</a>
            </li>
        </ul>
        <ul class="footer__list-social-media list">
            <li class="footer_item-social-media">
                <a class="footer__link" href="https://instagram.com/anastasia__boroday">
                    <svg class="footer__icon" >
                        <use href="./images/symbol-defs.svg#icon-instagram1"></use>
                    </svg>
                </a>
            </li>
            <li class="footer_item-social-media">
                <a class="footer__link" href="https://github.com/Anastasia-Boroday">
                    <svg class="footer__icon" >
                        <use href="./images/symbol-defs.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer_item-social-media">
                <a class="footer__link" href="">
                    <svg class="footer__icon" >
                        <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                    </svg>
                </a>
            </li>
        
        </ul>
        <p class="footer__after-text">Find me on Instagram, GitHub, LinkedIn</p>

    </div>
    </section>