<section class="footer container">
    <h2 class="footer__title">Contacts</h2>
    <p class="footer__text">Want to know more or just chat? You are welcome!</p>
    <button class="footer__btn" type="button"></button>
    <ul class="footer__list-social-media">
        <li class="footer_item-social-media">
            <a class="footer__link" href="">
                <svg class="footer__icon" width="40px" height="40px">
                    <use href="./images/symbol-defs.svg#icon-instagram1"></use>
                </svg>
            </a>
        </li>
        <li class="footer_item-social-media">
            <a class="footer__link" href="">
                <svg class="footer__icon" width="40px" height="40px">
                    <use href="./images/symbol-defs.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="footer_item-social-media">
            <a class="footer__link" href="">
                <svg class="footer__icon" width="40px" height="40px">
                    <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="footer_item-social-media">
            <a class="footer__link" href="">
                <svg class="footer__icon" width="40px" height="40px">
                    <use href="./images/symbol-defs.svg#icon-linkedin2"></use>
                </svg>
            </a>
        </li>
        
    </ul>
    <p class="footer__after-text">Like me on LinkedIn, Instagram, Behance, Dribble</p>
</section>