<section class="header">
    <div class="container">
        <nav class="header__nav">
            <ul class="header__list list">
                <li class="header__item">
                    <a class="header__link link" href="#home">Home</a>
                </li>
                <li class="header__item">
                    <a class="header__link link" href="#about">About me</a>
                </li>
                <li class="header__item">
                    <a class="header__link link" href="#skills">Skills</a>
                </li>
                <li class="header__item">
                    <a class="header__link link" href="#portfolio">Portfolio</a>
                </li>
                <li class="header__item">
                    <a class="header__link link" href="#contacts">Contacts</a>
                </li>
            </ul>
        </nav>  
    </div>
</section>