<section class="header">
    <div class="header-wrapp">
        <div class="container">
            <nav class="header__nav">
                <ul class="header__list list">
                    <li class="header__item">
                        <a class="header__link link" href="#home">Home</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="#about">About me</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="#skills">Skills</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="header__item">
                        <a class="header__link link" href="#contacts">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    

    <div class="mob-menu is-hidden">
        <!-- <div class="container"> -->
                <button class="menu__btn-cross" type="button">
                    <svg class="menu_icon-cross">
                        <use  
                        href="./images/symbol-defs.svg#cross-1"></use>
                    </svg>
                </button>
                <ul class="mob-menu__list list">
                    <li class="mob-menu__item">
                        <a class="mob-menu__link link" href="#home">Home</a>
                    </li>
                    <li class="mob-menu__item">
                        <a class="mob-menu__link link" href="#about">About me</a>
                    </li>
                    <li class="mob-menu__item">
                        <a class="mob-menu__link link" href="#skills">Skills</a>
                    </li>
                    <li class="mob-menu__item">
                        <a class="mob-menu__link link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="mob-menu__item">
                        <a class="mob-menu__link link" href="#contacts">Contacts</a>
                    </li>
                    
                </ul>
        <!-- </div> -->
    </div>
 </section>