<section class="portfolio container">
    <h2 class="portfolio__title">Portfolio</h2>
    <ul class="portfolio__list">
        <li class="portfolio__item">
            <img src="./images/portfolio1.jpg" alt="">
            <p class="portfolio__after-text">Online fashion store - Homepage</p>
        </li>
        <li class="portfolio__item">
            <img src="./images/portfolio1.jpg" alt="">
            <p class="portfolio__after-text">Online fashion store - Homepage</p>
        </li>
        <li class="portfolio__item">
            <img src="./images/portfolio1.jpg" alt="">
            <p class="portfolio__after-text">Online fashion store - Homepage</p>
        </li>
    </ul>
</section>