<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="portfolio__title">Portfolio</h2>
        <ul class="portfolio__list list">
            <li class="portfolio__item">
                <img class="portfolio__img" src="./images/portfolio/webstudio.png" alt="webstudio">
                <a 
                class="portfolio__after-text link" 
                href="https://anastasia-boroday.github.io/goit-markup-hw-08/">Online WebStudio - Homepage</a>
            </li> 
            <li class="portfolio__item">
                <img class="portfolio__img" src="./images/portfolio/icecream.png" alt="icecream">
                <a class="portfolio__after-text link" href="https://anastasia-boroday.github.io/ice-cream/">Online IceCream - Homepage</a>
            </li>
            <li class="portfolio__item">
                <img class="portfolio__img" src="./images/portfolio/filmoteka.png" alt="filmoteka">
                <a class="portfolio__after-text link" href="https://kaminskysergey.github.io/Filmoteka/">Online Filmoteka - Homepage</a>
            </li>
        </ul>
    </div>
    
</section>