.btn-up{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    background-color: var(--btn-up);
    z-index: 4;

    cursor: pointer;
    transition: box-shadow 250ms linear;
    &:hover{      
        box-shadow: 6px 6px 6px 0px rgba(66, 68, 90, 1);    
    }
}
.btn-up__icon{
    width: 60px;
    height: 60px;
    padding: 10px;
    fill: var(--bg-color);
    transition: fill 250ms linear;
    &:hover,
    &:focus {
        fill: var(--second-color);            
    }
}

