.footer{
    padding: 80px 0;
}
.footer__title{
    margin-bottom: 28px;
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
}
.footer__text{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}
// .footer__btn{
//     margin-bottom: 50px;
//     width: 315px;
//     height: 45px;
//     border: none;
//     border-radius: 50px;
//     background-color: var(--main-color);
    
//     color: var(--bg-color);
//     font-size: 18px;
//     line-height: 1.2;
//     text-align: center;
   
//     transition: color 300ms linear,
//     background-color 400ms linear,
//     font-size 300ms linear;
//     cursor: pointer;
//     &:hover,
//     &:focus{
//         border: none;
//         background-color: var(--second-color);
//         font-size: 19px;

//     }
// }
.footer__list-numers{
    margin-bottom: 40px;
    text-align: center;
}
.footer__link-tel{
    text-decoration: none;
    color: var(--main-color);
    font-size: 18px;
    line-height: 1.2;
}
.footer__list-social-media{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    // justify-content: space-between;
   
    
}
.footer_item-social-media{
    &:not(:last-child){
        margin-right: 30px;
    }
}
.footer__after-text{
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: var(--second-color);
}
.footer__link{
    display: flex;
    width: 40px;
    height: 40px;

    justify-content: center;
    align-items: center;
}

.footer__icon{
    width: 40px;
    height: 40px;
    fill: black;
    transition: fill 200ms linear;
    &:hover,
    &:focus{
        fill: var(--second-color);
    }
}