.header-wrapp{
    display: none;
    
        @media screen and(min-width:$desktop) {
            display: block;
    
            &::after {
                content: '';
                background-color: var(--second-color);
                display: block;
                width: 100%;
                height: 1px;
            }
        }
}
.header__list{
    display: flex;
    justify-content: space-between;
}
.header__item{
    padding: 35px 0;
}
.header__link{
    font-family: var(--font);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--second-color);
    padding: 35px 0;
    transition: color 200ms linear;
    
        &:focus,
        &:hover {
            color: var(--main-color);
        }
}