.hero{
    padding-top: 15px;
    padding-bottom: 50px;
}
.hero__title{
    margin-bottom: 23px;
    font-family: var(--font);
    font-size: 47px;
    line-height: 1.2;
    font-weight: 700;
}
.hero__text{
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
}
.hero__img{
    width: 316px;
    height: 478px;
}