.hero{
    padding: 15px 0 50px;
}
.container{
    position: relative;
}
.hero__title{
    margin-bottom: 23px;
    font-family: var(--font);
    font-size: 47px;
    line-height: 1.2;
    font-weight: 700;
}
.hero__text{
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
}
.hero__img{
    width: 316px;
    height: 478px;
}
.hero__btn-menu{
    position: absolute;
    right: 30px;
    display: flex;
    width: 60px;
    height: 50px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    background-color: inherit;

    transition: fill 100ms linear;
    cursor: pointer;
    &:hover,
    &:focus {
        fill: var(--second-color);
    }

}
.hero__icon-menu{
    width: 50px;
    height: 50px;
    fill: black;
    transition: fill 200ms linear;
    
    &:hover,
    &:focus {
        fill: var(--second-color);
    }
}