.skills {
    padding: 80px 0;
    @media screen and(min-width:$desktop) {
        padding: 100px 0;
    }
}
.skills__title{
    margin-bottom: 50px;

    font-size: 34px;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
    @media screen and(min-width:$desktop) {
        margin-bottom: 70px;
    }
}
.skills__text{
    margin-bottom: 70px;

    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    font-weight: 100;
    @media screen and(min-width:$desktop) {
        margin-bottom: 85px;
    }
}
.skills__list{
    margin-bottom: 50px;

    @media screen and(min-width:$desktop) {
       display: flex;
       justify-content: space-between;
    }
}
.skills__item{
    text-align: center;
    &:not(:last-child){
        margin-bottom: 80px;
    }
    @media screen and(min-width:$desktop) {
    width: 200px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:not(:last-child) {
        margin-bottom: 0;
        }
    }
}
.skills__application{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}
.skills__application-text{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
}
// -----------------------------------------------------
.list-stars{
    display: flex;
    justify-content: center;  
}
.skills-star{
    padding-right: 5px;
    fill:var(--second-color);
    width: 20px;
    height: 20px;
    &:not(:last-child) {
        padding-right: 0;
    }   
    @media screen and(min-width:$desktop) {
    width: 30px;
    height: 30px;
    }
}
.star-black{
    fill: black;
}

