.skills {
    padding: 80px 0;
}
.skills__title{
    margin-bottom: 50px;

    font-size: 34px;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
}
.skills__text{
    margin-bottom: 70px;

    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    font-weight: 100;

}
.skills__item{
    text-align: center;
    &:not(:last-child){
        margin-bottom: 80px;
    }
}
.skills__application{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}
.skills__application-text{
    margin-bottom: 40px;
    color: var(--second-color);
    font-size: 14px;
    line-height: 1.2;
}
.skills__img-star{
    margin-left: auto;
    margin-right: auto
}