.container{
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: $mobile) {
        width: 345px;
    }

    @media screen and(min-width:$desktop) {
        width: 960px;
        padding: 0;
    }
}